* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --beige:#ECE1CB;
    --amarillo: #FDC055;
    --ocre: #D29A38;
    --naranja: #EC8C50;
    --rojo: #DF6F5B;
    --azul: #5477A4;
    --verde: #256063;
    --turquesa: #7AB6B9;
    --menu: #D2C5AA;
  }

  main{
    padding-top: 74px;

  }

  /* menu */

#menu{
  background-color: var(--menu);
  transition-duration: 0.3s;
}

.center{
  display: flex;
  justify-content: center;
}
.navbar{
  width: 100%;
  z-index: 999;
}

a:visited,
a:link {
  text-decoration: none;
  color: black;
}

#logo-menu{
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

.nav-item{
  font-family: "Courier Prime", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  
}

.navbar-toggler {
  outline: none; 
  border: none; 
}


.navbar-toggler:focus {
  box-shadow: none; 
  outline: none; 
}

.scrolled{
  width: 80vw;
  border-radius: 90px;
  margin-top: 1em;
}


p{
  font-size: 6rem;
}

#pr-img{
  width: 50%;
  height: 50%;
  top: 0;
}

#pr-img img{
  width: 50%;
  height: 50%;
}
