* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --beige:#ECE1CB;
    --amarillo: #FDC055;
    --ocre: #D29A38;
    --naranja: #EC8C50;
    --rojo: #DF6F5B;
    --azul: #5477A4;
    --verde: #256063;
    --turquesa: #7AB6B9;
    --menu: #D2C5AA;
  }

main{
  padding-top: 74px;
}

/* scroll indicator */
  .progress-container {
    width: 100%;
    height: 6px;
    background: burlywood;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.progress-bar {
    height: 6px;
    background: var(--verde);
    width: 0%;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

/* menu */

#menu{
    background-color: var(--menu);
    transition-duration: 0.3s;
}

.center{
    display: flex;
    justify-content: center;
}
.navbar{
    width: 100%;
    z-index: 999;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }

a:visited,
a:link {
    font-family: "Courier Prime", monospace;
    text-decoration: none;
    color: black;
}

#logo-menu, #logo-footer, #logo-menu-movil{
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}
#logo-menu:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

#logo-footer:hover{
  text-decoration: underline;
}

.nav-item{
    font-family: "Courier Prime", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.nav-item:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

.navbar-toggler {
    outline: none; 
    border: none; 
}

  
.navbar-toggler:focus {
    box-shadow: none; 
    outline: none; 
}

.close-menu{
  display: none;
}

.scrolled{
    width: 80vw;
    border-radius: 90px;
    margin-top: 1rem;
}


p{
    font-size: 6rem;
}

/* hero */

#hero video{
    width: 100%;
    height: auto; 
    top: 0;
    left: 0;
    z-index: 1;
    vertical-align: middle;
}

.typed-cursor {
  display: none;
}

#hero h2{
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: "Courier Prime", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: -2px 1px 12px rgba(0,0,0,0.74);

}


/* bucket list */
.img-bl{
    width: 100%;
    background-color: var(--beige);
    transition: .2s; 
}

.img-bl-hover:hover{
    background-color: rgb(206, 192, 172) ;
}

.frases-bl{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.5);
    accent-color: var(--amarillo);
    margin-top: 1rem;

}

label{
    font-size: 0.8rem;
}

.red{
    background-color: var(--rojo);
}

.yellow{
    background-color: var(--amarillo);
}

.green{
    background-color: var(--verde);
}

.blue{
    background-color: var(--turquesa);
}

.orange{
    background-color: var(--naranja);
}

.ocre{
    background-color: var(--ocre);
}

/* parallax */
#img-parallax{
    background-image: url("../media/fondo-churros.png");
    height: 20vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bucketlist h3{
        font-family: "Caveat Brush", cursive;
        font-weight: 400;
        font-style: normal;  
        font-size: 3rem;  
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: center;
}

#bucketlist .row{
padding-bottom: 1.5rem;
}


/* arte */
h4{
    padding-top: 1rem;
}

#art-section{
    background-color: var(--beige);
    text-align: center;
}

h4{
    font-family: "Courier Prime", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
}

.img-banner{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.pr-articulo {
    font-size: 2rem;
    font-family: "Source Serif 4", serif;
    padding-bottom: 3rem;
}
.sc-articulo{
    font-size: 1.4rem;
    font-family: "Source Serif 4", serif;
    padding-top: 1rem;
    padding-bottom: 2rem;

}
.img-zoom {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.img-zoom:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.img-cont{
    width: 80%;
    overflow: hidden;
    display: inline-block;
}

.img-square{
    width: 100%;
}

#arte h5{
    max-width: 80%;
    margin: 0 auto;
}

/* ocio */
#ocio .img-cont{
    width: 40%;
    border: none;
}

.img-cont img{
  height: 100%;
}

.d-flex.align-items-center {
  align-items: start;
}

#ocio .pr-articulo{
    color: white;
    padding-bottom: 0;
    padding-left: 1rem;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.sc-articulo-ocio{
    color: white;
    font-family: "Source Serif 4", serif;
    padding-left: 1rem;
}

 hr.linea{
  border: 2px solid black !important;
  width: 100% !important;
  opacity: 1 !important;
  margin: 0 !important;
}

#ocio .row .col, .pr-size{
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#ocio .row .col:hover, .pr-size:hover{
  background-color: rgb(181, 160, 132);
}

#more-ocio{
  display: none;
}

#ocio .btn{
  background-color: var(--beige);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

#ocio .btn:hover{
  background-color: rgb(181, 160, 132);
}
/* carrusel  */
.carousel{
  width: 100% !important;
  border: 6px solid var(--beige);
}

.carousel-indicators [data-bs-target]{
  background-color: var(--beige);
}

/* cultura */
#cultura .img-cont{
  width: 100%;
  border-right: 10px solid white;
}

#cultura h6{
  font-family: "Source Serif 4", serif;
  text-align: center;
  padding-top: 1rem;
}
/* flecha subir */
#flecha{
  width: 48px;
  border-radius: 900px;
  background-color: #256063;
  box-shadow: 0px 18px 38px -16px black;
  position: fixed;
  bottom: 1em;
  right: 2em;
  z-index: 900;
  transition: 0.3s;
}
/* footer */

footer{
  background-color: black;
  margin-top: 3rem;
  color: white;
  padding: 1rem 0;
}

#logo-footer{
  text-align: center !important;
  color: white;
}

footer h5{
  font-size: 1.1rem;
  text-align: center;
  font-family: "Source Serif 4", serif;
}
#logo-menu-movil{
  display: none;
}

#enlace-pag{
  padding: 0;
}

/* RESTAURANTES */

#pr-img{
  width: 100%;
  height: 14%;
  top: 0;
  background-color: var(--naranja);
}

#pr-img img{
  width: 40%;
  height: 25%;
}

#pr-img h2{
  font-family: "Source Serif 4", serif;  
  margin: 6%;
  color: white;
} 

main p{
  color: white;
  font-size: 16px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

#restaurantes h6{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

  #restaurantes_mini{
    padding-top: 5rem;
  }

  #restaurantes_mini h6{
    padding-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
  }

  #restaurantes_mini a{
    width: 100%;
    height: 100%;
  }

  .restaurante-1{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
  }

  #text{
    margin-left: 10rem;
    width: 76%;
    position: relative;
    bottom: 3rem;
    color: white;
  }

  #tikitako_mini{
    background-color: var(--rojo);
    width: 80%;
    height: 80%;
    max-width: 300px;
    overflow: hidden;
    margin: auto;
  }

  #tikitako_mini #tikitako_mini_img{
    height: 100%;
    width: 80%;
    object-fit: cover;
  }

  #tabernas_mini{
    background-color: var(--verde);
    width: 80%;
    height: 80%;
    max-width: 300px;
    overflow: hidden;         
    margin: auto;
  }

  #tabernas_mini #tabernas_mini_img{
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  #Xiongzai_mini{
    background-color: var(--azul);
    width: 80%;
    height: 80%;
    max-width: 300px;            
    overflow: hidden;         
    margin: auto;
  }

  #Xiongzai_mini #Xiongzai_mini_img{
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  #belmondo_mini{
    background-color: var(--naranja);
    width: 80%;
    height: 80%;
    max-width: 300px;           
    overflow: hidden;         
    margin: auto;
  }

  #belmondo_mini #belmondo_mini_img{
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  #macao_mini{
    background-color: var(--amarillo);
    width: 80%;
    height: 80%;
    max-width: 300px;             
    overflow: hidden;         
    margin: auto;
  }

  #macao_mini #macao_mini_img{
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  #macareno_mini{
    background-color: var(--turquesa);
    width: 80%;
    height: 80%;
    max-width: 300px;          
    overflow: hidden;         
    margin: auto;
  }

  #macareno_mini #macareno_mini_img{
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  .black-line-hr {
    border: none;
    border-top: 4px solid black;
    margin: 16px 0;
    width: 90%;
    position: relative;
    left: 5%;
  }

/* TIKITAKO */

#tikitako{
  background-color: var(--beige);
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#tikitako_pics{
  width: 80%;
  height: 100%;
  margin-bottom: 5rem;
}

#tikitako_pics img{
  width: 100%;
  height: 100%;
}

/* TABERNAS */

#tabernas{
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#tabernas_pics{
  width: 80%;
  height: 100%;
  margin-bottom: 5rem;
}

#tabernas_pics img{
  width: 100%;
  height: 100%;
}

/* XIONGZAI */

#Xiongzai{
  background-color: var(--beige);
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#Xiongzai_pics{
  width: 80%;
  height: 100%;
  margin-bottom: 5rem;
}

#Xiongzai_pics img{
  width: 100%;
  height: 100%;
}

/* BELMONDO*/

#belmondo{
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#belmondo_pics{
  width: 80%;
  height: 100%;
  margin-bottom: 5rem;
}

#belmondo_pics img{
  width: 100%;
  height: 100%;
}

/* LADY_MACAO*/

#macao{
  background-color: var(--beige);
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#macao_pics{
  width: 80%;
  height: 100%;
  margin-bottom: 5rem;
}

#macao_pics img{
  width: 100%;
  height: 100%;
}

/* CASA MACARENO*/

#macareno{
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#macareno_pics{
  width: 80%;
  height: 100%;
  margin-bottom: 5rem;
}

#macareno_pics img{
  width: 100%;
  height: 100%;
}

/* media queries index */
@media screen and (max-width: 1200px){
#ocio .col, .pr-size, #pr-ocio{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 0 !important;
}
#ocio .img-cont{
  width: 50vw; 
}

#ocio .col{
  margin-bottom:1rem; 
}

#enlace-pag{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ocio .pr-articulo{
  max-width: 45vw;
  text-align: center;
  padding: 0.5rem;
}

#ocio .row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sc-articulo-ocio{
  font-size: 2rem;
  padding: 0.5rem;
  max-width: 45vw;
  text-align: center;

}

#ocio br{
  display: none;
}

.carousel{
  margin-bottom: 1rem;
}


}
@media screen and (max-width: 992px){
  .disappear{
    display: none;
  }

  .art-pr{
    width: 100%;
  }

  #arte .sc-articulo{
    font-size: 1rem;
  }

  .art-flex{
    display: flex;
    flex-direction: column;
  }
  
  .art-col{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #arte .img-square{
    width: fit-content;
    height: 20vh;
  }

  .small-img{
    margin-bottom: 1rem;
    width: 100%;
    object-fit: cover;
    display: block;
    height: auto;
    text-align: left;
  }

  #arte .sc-articulo {
    font-size: 1.2rem;
    text-align: left;
  }

  .img-square {
    width: 100%;
    object-fit: cover;
  }
  
  .img-zoom:hover {
    -webkit-transform: none;
  transform: none;
  }

  .img-cont{
    width: fit-content;
    overflow: visible;
  }
  
  #arte h5{
    max-width: none;
    margin: 0%;
  }

  .sc-articulo{
    padding-left: 1rem;
  }

#cultura .row{
    display: flex;
    flex-direction: column;
  }

  #cultura .col{
    display: flex;
    align-items: center;
  }

  #cultura .img-cont{
    width: 30vw;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  #cultura h6{
    font-size: 1.2rem;
    text-align: left;
    padding-top: 0;
  }
}
@media screen and (max-width: 768px){

  /* menu responsive */
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--menu);
    height: 100vh;
    overflow-y: auto;
    transition: 0.3s ease;

  }

  #logo-menu-movil{
    display: block;
    text-align: center;
    margin: 0;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .close-menu {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: block;
  }
/* hero */
  #hero video{
    width: 100vw;
  }

  #hero h2{
    font-size: 2rem;
  }
/* parallax */
  #img-parallax{
    height: 10vh;
  }
/* bucket list */
  .disappear-sm{
    display: none;
  }

/* ocio */
#ocio .img-cont{
  width: 90vw;
}

#ocio .pr-articulo, .sc-articulo-ocio{
  font-size: 1.2rem;
  max-width: 90vw;
}


}

/* media queries restaurantes */
@media screen and (max-width: 992px){

  
  #restaurantes h6 {
    position: relative;
    left: 4.5rem;
    width: 86%;
  }

  #text{
    margin-left: 8rem;
    width: 74%;
    position: relative;
    bottom: 3rem;
  }
}
@media screen and (max-width: 768px){

  #text{
    margin-left: 6.5rem;
    width: 72%;
    position: relative;
    bottom: 3rem;
  }

  #restaurantes h6 {
    position: relative;
    left: 4.5rem;
    width: 79%;
  }

  #restaurantes_mini {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  #restaurantes_mini h6 {
    padding-top: 0rem;
}

  #tikitako_pics img {
    width: 160%;
    height: 100%;
    position: relative;
    right: 3rem;
}

  #tabernas_pics img{
    width: 160%;
    height: 100%;
    position: relative;
    right: 3rem;
  }

  #Xiongzai_pics img{
    width: 160%;
    height: 100%;
    position: relative;
    right: 3rem;
  }

  #belmondo_pics img{
    width: 160%;
    height: 100%;
    position: relative;
    right: 3rem;
  }

  #macao_pics img{
    width: 160%;
    height: 100%;
    position: relative;
    right: 3rem;
  }

  #macareno_pics img{
    width: 160%;
    height: 100%;
    position: relative;
    right: 3rem;
  }

}