* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --beige:#ECE1CB;
    --amarillo: #FDC055;
    --ocre: #D29A38;
    --naranja: #EC8C50;
    --rojo: #DF6F5B;
    --azul: #5477A4;
    --verde: #256063;
    --turquesa: #7AB6B9;
    --menu: #D2C5AA;
  }

  main{
    padding-top: 74px;

  }
/* scroll indicator */
  .progress-container {
    width: 100%;
    height: 6px;
    background: burlywood;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.progress-bar {
    height: 6px;
    background: var(--verde);
    width: 0%;
}

/* menu */

#menu{
    background-color: var(--menu);
    transition-duration: 0.3s;
}

.center{
    display: flex;
    justify-content: center;
}
.navbar{
    width: 100%;
    z-index: 999;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }

a:visited,
a:link {
    font-family: "Courier Prime", monospace;
    text-decoration: none;
    color: black;
}

#logo-menu, #logo-footer{
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}
#logo-menu:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

#logo-footer:hover{
  text-decoration: underline;
}

.nav-item{
    font-family: "Courier Prime", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.nav-item:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

.navbar-toggler {
    outline: none; 
    border: none; 
}

  
.navbar-toggler:focus {
    box-shadow: none; 
    outline: none; 
}

.scrolled{
    width: 80vw;
    border-radius: 90px;
    margin-top: 1rem;
}


p{
    font-size: 6rem;
}

/* hero */

#hero video{
    width: 100%;
    height: auto; 
    top: 0;
    left: 0;
    z-index: 1;
    vertical-align: middle;
}

.typed-cursor {
  display: none;
}

#hero h2{
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: "Courier Prime", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: -2px 1px 12px rgba(0,0,0,0.74);

}


/* bucket list */
.img-bl{
    width: 100%;
    background-color: var(--beige);
    transition: .2s; 
}

.img-bl-hover:hover{
    background-color: rgb(206, 192, 172) ;
}

.frases-bl{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.5);
    accent-color: var(--amarillo);
    margin-top: 1rem;

}

label{
    font-size: 0.8rem;
}

.red{
    background-color: var(--rojo);
}

.yellow{
    background-color: var(--amarillo);
}

.green{
    background-color: var(--verde);
}

.blue{
    background-color: var(--turquesa);
}

.orange{
    background-color: var(--naranja);
}

.ocre{
    background-color: var(--ocre);
}

/* parallax */
#img-parallax{
    background-image: url("../media/fondo-churros.png");
    height: 20vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bucketlist h3{
        font-family: "Caveat Brush", cursive;
        font-weight: 400;
        font-style: normal;  
        font-size: 3rem;  
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: center;
}

#bucketlist .row{
padding-bottom: 1.5rem;
}


/* arte */
h4{
    padding-top: 1rem;
}

#art-section{
    background-color: var(--beige);
    text-align: center;
}

h4{
    font-family: "Courier Prime", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
}

.img-banner{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.pr-articulo {
    font-size: 2rem;
    font-family: "Source Serif 4", serif;
    padding-bottom: 3rem;
}
.sc-articulo{
    font-size: 1.4rem;
    font-family: "Source Serif 4", serif;
    padding-top: 1rem;
    padding-bottom: 2rem;

}
.img-zoom {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.img-zoom:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.img-cont{
    width: 80%;
    overflow: hidden;
    display: inline-block;
}

.img-square{
    width: 100%;
}

#arte h5{
    max-width: 80%;
    margin: 0 auto;
}

/* ocio */
#ocio .img-cont{
    width: 40%;
    border: none;
}

.img-cont img{
  height: 100%;
}

.d-flex.align-items-center {
  align-items: start;
}

#ocio .pr-articulo{
    color: white;
    padding-bottom: 0;
    padding-left: 1rem;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.sc-articulo-ocio{
    color: white;
    font-family: "Source Serif 4", serif;
    padding-left: 1rem;
}

 hr.linea{
  border: 2px solid black !important;
  width: 100% !important;
  opacity: 1 !important;
  margin: 0 !important;
}

#ocio .row .col, .pr-size{
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#ocio .row .col:hover, .pr-size:hover{
  background-color: rgb(181, 160, 132);
}
/* carrusel  */
.carousel{
  width: 100% !important;
  border: 6px solid var(--beige);
}

.carousel-indicators [data-bs-target]{
  background-color: var(--beige);
}

/* cultura */
#cultura .img-cont{
  width: 100%;
  border-right: 10px solid white;
}

#cultura h6{
  font-family: "Source Serif 4", serif;
  text-align: center;
  padding-top: 1rem;
}

/* footer */

footer{
  background-color: black;
  margin-top: 3rem;
  color: white;
  padding: 1rem 0;
}

#logo-footer{
  text-align: center !important;
  color: white;
}

footer h5{
  font-size: 1.1rem;
  text-align: center;
  font-family: "Source Serif 4", serif;
}


/* RESTAURANTES */

#pr-img{
    width: 100%;
    height: 14%;
    top: 0;
    background-color: var(--naranja);
  }
  
  #pr-img img{
    width: 40%;
    height: 25%;
  }

  #pr-img h2{
    color: var(--beige);
    font-family: "Source Serif 4", serif;  
    margin: 6%;
  } 


  #restaurantes_mini{
    padding-top: 5em;
  }

  #restaurantes_mini h6{
    padding-top: 1em;
    font-family: 'Courier New', Courier, monospace;
  }

  #tikitako_mini{
    background-color: var(--rojo);
    width: 98%;
    height: 69%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: auto;
  }

  #tikitako_mini #tikitako_mini_img{
    height: 100%;
    width: 81%;
    object-fit: cover;
  }

  #tabernas_mini{
    background-color: var(--verde);
    width: 100%;
    height: 69%;
    max-width: 300px;
    aspect-ratio: 1 / 1;      
    overflow: hidden;         
    margin: auto;
  }

  #tabernas_mini #tabernas_mini_img{
    width: 82%;
    height: 100%;
    object-fit: cover;
  }

  #Xiongzai_mini{
    background-color: var(--azul);
    width: 100%;
    height: 69%;
    max-width: 300px;         
    aspect-ratio: 1 / 1;      
    overflow: hidden;         
    margin: auto;
  }

  #Xiongzai_mini #Xiongzai_mini_img{
    width: 82%;
    height: 100%;
    object-fit: cover;
  }

  #belmondo_mini{
    background-color: var(--naranja);
    width: 100%;
    height: 69%;
    max-width: 300px;         
    aspect-ratio: 1 / 1;      
    overflow: hidden;         
    margin: auto;
  }

  #belmondo_mini #belmondo_mini_img{
    width: 82%;
    height: 100%;
    object-fit: cover;
  }

  #macao_mini{
    background-color: var(--amarillo);
    width: 100%;
    height: 69%;
    max-width: 300px;         
    aspect-ratio: 1 / 1;      
    overflow: hidden;         
    margin: auto;
  }

  #macao_mini #macao_mini_img{
    width: 82%;
    height: 100%;
    object-fit: cover;
  }

  #macareno_mini{
    background-color: var(--turquesa);
    width: 100%;
    height: 69%;
    max-width: 300px;        
    aspect-ratio: 1 / 1;     
    overflow: hidden;         
    margin: auto;
  }

  #macareno_mini #macareno_mini_img{
    width: 82%;
    height: 100%;
    object-fit: cover;
  }

  .black-line-hr {
    border: none;
    border-top: 4px solid black;
    margin: 16px 0;
    width: 90%;
    position: relative;
    left: 5%;
  }

/* TIKITAKO */

  #tikitako{
    background-color: var(--beige);
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
  }

#tikitako h6{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 65%;
  position: relative;
  left: 9em;
  text-align: left;
  font-size: 18px;
}

  #tikitako-1 {
    width: 77%;
    height: 100%;
    overflow: hidden;
    margin: auto;
  }

  #tikitako-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#tikitako_pics{
    width: 81%;
    height: 40%;
    overflow: hidden;
    margin: auto;
}

#tikitako_pics #tiki_tako_3{
    width: 100%;
    height: 76%;
    object-fit: cover;
}

#tikitako_pics #tiki_tako_2{
    width: 100%;
    height: 76%;
    object-fit: cover;
}

#tikitako_pics #tiki_tako_4{
    width: 100%;
    height: 76%;
    object-fit: cover;
}

#tikitako_text{
  background-color: var(--rojo);
  margin-left: 10em;
  width: 78%;
  position: relative;
  bottom: 3em;
}

#tikitako_text p{
  color: var(--beige);
  font-size: 16px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
}

/* TABERNAS */

#tabernas{
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#tabernas h6{
margin-top: 2em;
margin-bottom: 2em;
width: 65%;
position: relative;
left: 9em;
text-align: left;
font-size: 18px;
}

#tabernas-1 {
  width: 77%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

#tabernas-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#tabernas_pics{
  width: 81%;
  height: 40%;
  overflow: hidden;
  margin: auto;
}

#tabernas_pics #tabernas_3{
  width: 100%;
  height: 76%;
  object-fit: cover;
}

#tabernas_pics #tabernas_2{
  width: 100%;
  height: 76%;
  object-fit: cover;
}

#tabernas_pics #tabernas_4{
  width: 100%;
  height: 76%;
  object-fit: cover;
}

#tabernas_text{
background-color: var(--verde);
margin-left: 10em;
width: 78%;
position: relative;
bottom: 3em;
}

#tabernas_text p{
color: var(--beige);
font-size: 16px;
width: 100%;
padding-left: 2em;
padding-right: 2em;
padding-top: 1em;
padding-bottom: 1em;
text-align: left;
}

/* XIONGZAI */

#Xiongzai{
  background-color: var(--beige);
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#Xiongzai h6{
margin-top: 2em;
margin-bottom: 2em;
width: 65%;
position: relative;
left: 9em;
text-align: left;
font-size: 18px;
}

#Xiongzai-1 {
  width: 78%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

#Xiongzai-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Xiongzai_pics{
  width: 81%;
  height: 40%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 6em;
}

#Xiongzai_pics #Xiongzai_3{
  width: 100%;
  height: 116%;
  object-fit: cover;
}

#Xiongzai_pics #Xiongzai_2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Xiongzai_pics #Xiongzai_4{
  width: 100%;
  height: 102%;
  object-fit: cover;
}

#Xiongzai_text{
background-color: var(--azul);
margin-left: 10em;
width: 78%;
position: relative;
bottom: 3em;
}

#Xiongzai_text p{
color: var(--beige);
font-size: 16px;
width: 100%;
padding-left: 2em;
padding-right: 2em;
padding-top: 1em;
padding-bottom: 1em;
text-align: left;
}

/* BELMONDO*/

#belmondo{
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#belmondo h6{
margin-top: 2em;
margin-bottom: 2em;
width: 65%;
position: relative;
left: 9em;
text-align: left;
font-size: 18px;
}

#belmondo-1 {
  width: 77%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

#belmondo-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#belmondo_pics{
  width: 81%;
  height: 40%;
  overflow: hidden;
  margin: auto;
}

#belmondo_pics #belmondo_2{
  width: 100%;
  height: 76%;
  object-fit: cover;
}

#belmondo_pics #belmondo_3{
  width: 100%;
  height: 76%;
  object-fit: cover;
}

#belmondo_pics #belmondo_4{
  width: 100%;
  height: 76%;
  object-fit: cover;
}

#belmondo_text{
background-color: var(--naranja);
margin-left: 10em;
width: 78%;
position: relative;
bottom: 3em;
}

#belmondo_text p{
color: var(--beige);
font-size: 16px;
width: 100%;
padding-left: 2em;
padding-right: 2em;
padding-top: 1em;
padding-bottom: 1em;
text-align: left;
}

/* LADY_MACAO*/

#macao{
  background-color: var(--beige);
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#macao h6{
margin-top: 2em;
margin-bottom: 2em;
width: 65%;
position: relative;
left: 9em;
text-align: left;
font-size: 18px;
}

#macao-1 {
  width: 77%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

#macao-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#macao_pics{
  width: 81%;
  height: 40%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5em;
}

#macao_pics #macao_2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#macao_pics #macao_3{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#macao_pics #macao_4{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#macao_text{
background-color: var(--amarillo);
margin-left: 10em;
width: 78%;
position: relative;
bottom: 3em;
}

#macao_text p{
font-size: 16px;
width: 100%;
padding-left: 2em;
padding-right: 2em;
padding-top: 1em;
padding-bottom: 1em;
text-align: left;
}

/* CASA MACARENO*/

#macareno{
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#macareno h6{
margin-top: 2em;
margin-bottom: 2em;
width: 65%;
position: relative;
left: 9em;
text-align: left;
font-size: 18px;
}

#macareno-1 {
  width: 77%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

#macareno-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#macareno_pics{
  width: 81%;
  height: 40%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5em;
}

#macareno_pics #macareno_2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#macareno_pics #macareno_3{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#macareno_pics #macareno_4{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#macareno_text{
background-color: var(--turquesa);
margin-left: 10em;
width: 78%;
position: relative;
bottom: 3em;
}

#macareno_text p{
color: var(--beige);
font-size: 16px;
width: 100%;
padding-left: 2em;
padding-right: 2em;
padding-top: 1em;
padding-bottom: 1em;
text-align: left;
}
