* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --beige:#ECE1CB;
    --amarillo: #FDC055;
    --naranja: #EC8C50;
    --rojo: #DF6F5B;
    --azul: #5477A4;
    --verde: #256063;
    --turquesa: #7AB6B9;
  }

/* menu */

#menu{
    background-color: var(--beige);
    position: fixed;
    transition-duration: 0.3s;
}

.navbar{
    width: 100vw;
}

a:visited,
a:link {
    text-decoration: none;
    color: black;
}

#logo-menu{
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.nav-item{
    font-family: "Courier Prime", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    
}

.navbar-toggler {
    outline: none; 
    border: none; 
}

  
.navbar-toggler:focus {
    box-shadow: none; 
    outline: none; 
}

.scrolled{
    width: 80vw;
    border-radius: 90px;
    margin-top: 1em;
    opacity: 0.95;
}


p{
    font-size: 6rem;
}

/* hero */

#hero video{
    width: 100vw;
    height: auto; 
    top: 0;
    left: 0;
    z-index: 1;
}

/* bucket list */
.img-bl{
    width: 100%;
    background-color: var(--beige);
}

.frases-bl{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* .frases-bl{
    display: flex;
    flex-direction: column;
} */

input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.5);
    accent-color: var(--amarillo);
    margin-top: 1rem;

}


label{
    font-size: 0.8rem;
}

.red{
    background-color: var(--rojo);
}

.yellow{
    background-color: var(--amarillo);
}

.green{
    background-color: var(--verde);
}

.blue{
    background-color: var(--turquesa);
}

.orange{
    background-color: var(--naranja);
}